<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container-fluid">
        <h1>{{ ingredientcluster.name }}</h1>
        {% for action in flat_actions %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ action.0 }} -> {{ action.1 }}
                </div>
                <div class="panel-body"
                {% for parent in action.0.parents.all %}
                    <h5>{{ parent }} {{ parent.type }} {{ parent.type.description }}</h5>
                {% endfor %}
                {% for ingredient in action.0.ingredients.all %}
                    <div>
                        <a href="{% url 'cook:detail' ingredient.id %}">{{ ingredient }}</a>
                        {% for parent in ingredient.parents.all %}
                            <h5>{{ parent }} {{ paretn.type }} {{ parent.type.description }}</h5>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>